<!DOCTYPE html>
<html>

<head>
    <title>My first Vue app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <br>
        <h4>{{message2}}</h4>

    </div>

    <div id="app-2">
        <span v-bind:title="message3">
            Mueva el mouse sobre mí durante unos segundos
            para ver mi título enlazado dinámicamente.
        </span>
        <h1>{{message2}}</h1>
        <h4 v-text="message2"></h4>
    </div>

    <div id="app-3">
        <span v-if="seen">Ahora me ves</span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Mensaje invertido</button>
    </div>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
        <h3>texto ingresado desde {{message3}}</h3>
        <input type="text" v-model="message3">
    </div>

    <div id="app-7">
        <ol>
            <!--
                 Ahora proporcionamos a cada todo-item con el objeto todo
                 que representa, para que su contenido pueda ser dinámico.
                 También necesitamos proporcionar a cada componente con una "clave",
                 que vamos a explicar más adelante.
                  -->
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>

    <h1>LA INSTANCIA VUE</h1>

    <div id="app-8">
        <h3>{{data.a}}</h3>
        <br>
        <h3>{{data.b}}</h3>

    </div>
    <h6>----------------------------------------------</h6>

    <div id="app-9">
        <p>{{foo}}</p>
        <!-- esto ya no actualizará `foo`! -->
        <button v-on:click="foo = 'lol' ">Cámbialo</button>
    </div>

    <div id="app-10">
        <p>{{a}}</p>

    </div>

    <h1>----------------</h1>

    <div id="app-11">
        <p>{{message11}}</p>
    </div>

    <div>
        <h1>INTERPOLACIONES</h1>
        <span>Messague: {{msg}}</span>
        <span v-once>Esto nunca cambiara: {{msg}}</span>
        <p>Using mustaches: {{ rawHtml }}</p>
        <p>Using v-html directive: <span v-html="rawHtml"></span></p>
        <!--atributos-->
        <div v-bind:id="dynamicId"></div>
        <button v-bind:disabled="isButtonDisabled">Button</button>
        <!--Directivas-->
        <p v-if="seen">Now you see me</p>
        <!--Argumentos-->
        <a v-bind:href='https://www.youtube.com/watch?v=7XO1AzwkPPE&t=80s'> ... </a>
        <br>
        <a v-on:click="doSomething"> ... </a>
        <!--modificadores-->
        <form v-on:submit.prevent="onSubmit"> ... </form>
        <!-- full syntax v-bind -->
        <a v-bind:href="url"> ... </a>

        <!-- abreviado -->
        <a :href="url"> ... </a>

        <!-- full syntax v-on -->
        <a v-on:click="doSomething"> ... </a>

        <!-- abreviado -->
        <a @click="doSomething"> ... </a>

    </div>
    <!--Propiedades Computadas-->
    <div id="example">
        {{ message.split('').reverse().join('') }}
    </div>

    <!--Ejemplo Básico-->
    <div id="example2">
        <p>Mensaje original: "{{ message }}"</p>
        <p>Mensaje invertido computado: "{{ reversedMessage }}"</p>
        <p>{{message12}}</p>
        <p>{{messagexample2}}</p>
    </div>

    <!--Caching computado vs Métodos-->
    <div id="example3">
        <p>Mensaje Invertido: "{{ reverseMessage() }}"</p>
    </div>

    <!--Propiedad Computada vs Watched-->

    <div id="demo">{{ fullName }}</div>

    <br>

    <div id="demo2">{{ fullName }}</div>

    <!--Setter Computado-->

    <div id="demo3">{{ fullName }}</div>

    <!--Watchers-->
    <div id="watch-example">
        <p>
            Haz una pregunta de sí/no:
            <input v-model="question">
        </p>
        <p>{{ answer }}</p>
    </div>

    <h1>----------------------------------------------</h1>

    <!--enlaces de clases HTML-->

    <!--sintaxis de objeto-->
    <div v-bind:class="{ active: isActive }"></div>

    <div class="static" v-bind:class="{ active: isActive, 'text-danger': hasError }">
    </div>

    <div class="static active"></div>

    <div v-bind:class="classObject"></div>

    <!--sintaxis de array-->

    <div v-bind:class="[activeClass, errorClass]"></div>

    <div class="active text-danger"></div>

    <div v-bind:class="[isActive ? activeClass : '', errorClass]"></div>

    <div v-bind:class="[{ active: isActive }, errorClass]"></div>

    <!--Con Componentes-->

    <my-component class="baz boo"></my-component>

    <p class="foo bar baz boo">Hi</p>

    <my-component v-bind:class="{ active: isActive }"></my-component>

    <p class="foo bar active">Hi</p>

    <!--sintaxis de objeto-->

    <div id="demo4" v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }"></div>

    <div id="demo5" v-bind:style="styleObject"></div>

    <!--sintaxis de array-->

    <div v-bind:style="[baseStyles, overridingStyles]"></div>

    <!--valores multiples-->

    <div v-bind:style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }"></div>

    <!--Renderizacion condicional-->

    <h1>renderizacion condicional</h1>

    <br>

    {{#if ok}}
    <h1>Sí</h1>
    {{/if}}

    <h1 v-if="ok">Sí</h1>

    <h1 v-if="ok">Sí</h1>
    <h1 v-else>No</h1>

    <!--Grupos Condicionales con v-if en <template>-->
    <template v-if="ok">
        <h1>Título</h1>
        <p>Párrafo 1</p>
        <p>Párrafo 2</p>
    </template>
    <!--V-Else-->
    <div v-if="Math.random() > 0.5">
        Ahora me ves
    </div>
    <div v-else>
        Ahora no
    </div>
    <!--V-ELSE-IF-->
    <div v-if="type === 'A'">
        A
    </div>
    <div v-else-if="type === 'B'">
        B
    </div>
    <div v-else-if="type === 'C'">
        C
    </div>
    <div v-else>
        Si no es A, B o C
    </div>
    <h1>----------------</h1>
    <!--Controlando elementos reutilizables con key-->
    <div id="key-example">
        <div v-if="loginType === 'username'">
            <label>Nombre de Usuario</label>
            <input placeholder="Ingrese su nombre de usuario">
        </div>
        <div v-else>
            <label>Email</label>
            <input placeholder="Ingrese su email">
        </div>
        <br>
        <button v-on:click="toggleLoginType">Alternar tipo de inicio de sesión</button>


    </div>

    <!--V-Show-->

    <h1 v-show="ok">Hola!</h1>

    <!--Renderizado de Lista-->

    <h1>----------------------------------------------</h1>

    <div id="renderizado">
        <ul>
            <li v-for="item in items">
                {{ item.mensaje }}
            </li>
        </ul>
    </div>
    <h1>----------------------------------------------</h1>

    <div id="renderizado2">
        <ul>
            <li v-for="(item, index) in items">
                {{ MensajePadre }} - {{ index }} - {{ item.mensaje }}
            </li>
        </ul>
    </div>

    <h1>----------------------------------------------</h1>


    <!-- <div id="v-for-object">
        <li v-for="(value, key) in object">
            {{ key }}: {{ value }}
        </li>
    </div>-->

    <div id="v-for-object">
        <li v-for="(value, key, index) in object">
            {{ index }}. {{ key }}: {{ value }}
        </li>

    </div>
    <h1>----------------------------------------------</h1>
    <!--key-->
    <div id="itemid">
        <!-- content -->
        <a>Hola</a>
        <br>
        <li v-for="(value, key, index) in object">
            {{ index }}. {{ key }}: {{ value }}
        </li>

    </div>


    <h1>----------------------------------------------</h1>

    

    <!--CODIGO JAVASCRIP UTILIZADO EN CADA <div></div>-->
    <script>
        //codigo javascript
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hola mundo!',
                message2: 'Otro mensaje 2!',


            }
        })
    </script>

    <script>
        //codigo javascript

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message3: 'Usted cargo esta pagina el: ' + new Date().toLocaleString(),
                message2: '!Hola segundo mensaje!',
            }
        })
    </script>

    <script>
        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        })
    </script>

    <script>
        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    { text: 'Aprender JavaScript' },
                    { text: 'Aprender Vue' },
                    { text: 'Construir algo increíble' }
                ]
            }
        })
    </script>

    <script>
        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hola Vue.js!'
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })
    </script>

    <script>
        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hola Vue!',
                message3: 'Loco prueba!'
            }
        }) 
    </script>

    <script>
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{todo.text}}</li>'
        })

        var app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [
                    { id: 0, text: 'Vegetales' },
                    { id: 1, text: 'Queso' },
                    { id: 2, text: 'Cualquier otra cosa que se supone que los humanos coman' }
                ]
            }
        })
    </script>

    <script>
        // Nuestro objeto data
        var data = { a: 1 }
        var data = { b: 2 }

        // El objeto se agrega a una instancia de Vue
        var app8 = new Vue({
            el: "#app-8",
            data: {
                data,
                newTodoText: '',
                visitCount: 0,
                hideCompletedTodos: false,
                todos: [],
                error: null
            }

        })

        // Obteniendo la propiedad de la instancia
        // retorna lo mismo que el objeto data original
        app8.a == data.a // => true
        app8.b == data.b

        // Asignando la propiedad en la instancia
        // también afecta la original
        app8.a = 2
        data.a // => 2
        app8.b = 4
        data.b

        // ... y también a la inversa
        data.a = 3
        app8.a // => 3
        data.b = 6
        app8.b
    </script>

    <script>
        var obj = {
            foo: 'ejemplo 1'
        }

        Object.freeze(obj)

        new Vue({
            el: '#app-9',
            data: obj
        })


    </script>

    <script>
        var data = { a: 1 }
        var vm = new Vue({
            el: '#app-10',
            data: data
        })

        vm.$data === data // => true
        vm.$el === document.getElementById('app9') // => true

        // $watch es un método de instancia
        vm.$watch('a', function (newValue, oldValue) {
            // Esta función será ejecutada cuando `vm.a` cambie
        })
    </script>

    <script>
        new Vue({
            el: "#app-11",

            data: {
                a: 2,
                message11: '',
            },
            created: function () {
                // `this` hace referencia a la instancia vm
                var message = 'a es: ' + this.a;
                console.log(message)
                this.message11 = message;
            },

        })
        // => "a es: 1"
    </script>

    <script>
        var app = new Vue({
            el: '#example',
            data: {
                message: 'Hola mundo!',
            }
        })
    </script>

    <script>
        var vm = new Vue({
            el: '#example2',
            data: {
                message: 'Hola',
                message12: 'HELLOW',
                messagexample2: 'WELCOME',
            },
            computed: {
                // un getter computado
                reversedMessage: function () {
                    // `this` apunta a la instancia vm
                    return this.message.split('').reverse().join('')
                }
            }, created2: function () {
                var messagexample2 = vm.reversedMessage;
                var meesage12 = vm.reversedMessage;
                console.log(message12)
                console.log(messagexample2)
                this.messagexample2 = message12
                this.message12 = messagexample2
            }

        })

    </script>

    <script>
        var vm = new Vue({
            el: '#example3',
            data: {
                message: 'NEGA'
            },// en componente
            methods: {
                reverseMessage: function () {
                    return this.message.split('').reverse().join('')
                }
            },
            computed: {
                now: function () {
                    return Date.now()
                }
            }
        })
    </script>

    <script>
        var vm = new Vue({
            el: '#demo',
            data: {
                firstName: 'Foo',
                lastName: 'Bar',
                fullName: 'Foo Bar'
            },
            watch: {
                firstName: function (val) {
                    this.fullName = val + ' ' + this.lastName
                },
                lastName: function (val) {
                    this.fullName = this.firstName + ' ' + val
                }
            }
        })

    </script>

    <script>
        var vm = new Vue({
            el: '#demo2',
            data: {
                firstName: 'Foo',
                lastName: 'Bar'
            },
            computed: {
                fullName: function () {
                    return this.firstName + ' ' + this.lastName
                }
            }
        })
    </script>

    <script>
        var vm = new Vue({
            el: '#demo3',
            data: {
                firstName: 'Loco',
                lastName: 'Higuita'
            },
            computed: {
                fullName: {
                    // getter
                    get: function () {
                        return this.firstName + ' ' + this.lastName
                    },
                    // setter
                    set: function (newValue) {
                        var names = newValue.split(' ')
                        this.firstName = names[0]
                        this.lastName = names[names.length - 1]
                    }
                }
            }
        })
        // ..
    </script>

    <script>
        var watchExampleVM = new Vue({
            el: '#watch-example',
            data: {
                question: '',
                answer: 'No puedo darte una respuesta hasta que hagas una pregunta!'
            },
            watch: {
                // cada vez que la pregunta cambie, esta función será ejecutada
                question: function (newQuestion, oldQuestion) {
                    this.answer = 'Esperando que deje de escribir...'
                    this.debouncedGetAnswer()
                }
            },
            created: function () {
                // _.debounce es una función proporcionada por lodash para limitar cuan
                // a menudo se puede ejecutar una operación particularmente costosa.
                // En este caso, queremos limitar la frecuencia con la que accedemos a
                // yesno.wtf/api, esperando hasta que el usuario haya terminado
                // de escribir antes de realizar la solicitud ajax.
                // Para aprender más sobre la función _.debounce (y su primo
                // _.throttle), visite: https://lodash.com/docs#debounce
                this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
            },
            methods: {
                getAnswer: function () {
                    if (this.question.indexOf('?') === -1) {
                        this.answer = 'Las preguntas suelen contener un signo de interrogación. ;-)'
                        return
                    }
                    this.answer = 'Pensando...'
                    var vm = this
                    axios.get('https://yesno.wtf/api')
                        .then(function (response) {
                            vm.answer = _.capitalize(response.data.answer)
                        })
                        .catch(function (error) {
                            vm.answer = '¡Error! No se pudo alcanzar la API. ' + error
                        })
                }
            }
        })
    </script>

    <script>
        var vm = new Vue({

            data: {
                isActive: true,
                hasError: false,
                classObject: {
                    active: true,
                    'text-danger': false
                }
            },
            computed: {
                classObject: function () {
                    return {
                        active: this.isActive && !this.error,
                        'text-danger': this.error && this.error.type === 'fatal'
                    }
                }
            }
        })
    </script>

    <script>
        var vm = new Vue({
            data: {
                activeClass: 'active',
                errorClass: 'text-danger'
            }
        })
    </script>

    <script>
        Vue.component('my-component', {
            template: '<p class="foo bar">Hi</p>'
        })
    </script>

    <script>
        var vm = new Vue({
            el: "#demo4",
            data: {
                activeColor: 'red',
                fontSize: 30
            }

        })

    </script>

    <script>
        var vm = new Vue({
            el: "#demo5",
            data: {
                styleObject: {
                    color: 'red',
                    fontSize: '13px'
                }
            }

        })

    </script>

    <script>

        new Vue({
            el: '#key-example',
            data: {
                loginType: 'username',

            },
            methods: {
                toggleLoginType: function () {
                    this.loginType = this.loginType === 'username' ? 'email' : 'username' //Operador ternario! es como un IF resumido
                }

            }

        })
    </script>

    <script>
        var example1 = new Vue({
            el: '#renderizado',
            data: {
                items: [
                    { mensaje: 'Foo' },
                    { mensaje: 'Bar' }
                ]
            }
        })
    </script>

    <script>
        var example2 = new Vue({
            el: '#renderizado2',
            data: {
                mensajePadre: 'Padre',
                items: [
                    { mensaje: 'Foo' },
                    { mensaje: 'Bar' }
                ]
            }
        })
    </script>

    <script>
        new Vue({
            el: '#v-for-object',
            data: {
                object: {
                    primerNombre: 'John',
                    apellido: 'Doe',
                    edad: 30
                }
            }
        })
    </script>

    <script>
        new Vue({
            el: "#itemid",
            data: {
                object: {
                    primerNombre: 'Pato',
                    apellido: 'Lucas',
                    edad: 50
                }

            }

        })
    </script>

    <script>

    </script>


</body>

</html>